<!-- start widget -->
<section class="widget">
	<span><h5>Aliados</h5></span>
	<div class="advert">
		<a href="#"><img src="http://placehold.it/400x200?text=PUBLICIDAD"></a>
		<a href="#"><img src="http://placehold.it/400x200?text=PUBLICIDAD"></a>
		<a href="#"><img src="http://placehold.it/400x200?text=PUBLICIDAD"></a>
	</div>
</section>
<!-- end widget -->
