<!-- start widget -->
<section class="widget">
	<span><h5>Aliados</h5></span>
	<div class="advert">
		<a href="http://deluxe.mx"><img src="{{asset "images/deluxe.png"}}"></a>
		<a href="https://theartale.blogpsot.com"><img src="{{asset "images/artale.png"}}"></a>
		<a href="http://steed.mx"><img src="{{asset "images/steed.png"}}"></a>
	</div>
</section>
<!-- end widget -->
