<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contacto</h5></span>
	<div class="cp-contacts">
		<p>Tabasco 242, Roma Norte - CDMX, México</p>
		<p class="sidebar-phone"><i class="fa fa-phone"></i><a href="tel:5522596898">55 2259 6898</a></p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i><a href="mailto:hola@futurologi.co">hola@futurologi.co</a></p>
	</div>
</section>
<!-- end widget -->
