{{!< default}}

<div class="container" id="error-container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<section class="error-message">
				<h1>{{code}}</h1>
				<h2 class="error-description">{{message}}</h2>
			</section>
		</div>
	</div>
</div>
