@font-face {
  font-family: Paragama;
  src: url("Paragama.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sofa;
  src: url("Sofa.otf");
  font-weight: normal;
  font-style: normal;
}
